body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
    display: grid;
    grid-template-columns: 20% 80%;
}

/* banner CSS */
header {
    background-color: #12111f;
    display: flex;
    align-items: center;
    grid-column: span 2;
}

img {
    height: 40px;
    width: 60px;
    margin-left: 30px;
}

header h3 {
    color: white;
}

/* contacts(note) page CSS */
.contact-img {
    float: left;
    height: 70px;
    width: 70px;
    margin: 0;
    margin-right: 10px;
}

.info {
    margin-top: 10px;
}

.info h2 {
    margin: 3px 0;
}

.info p {
    margin: 0;
}

#assign {
    background-color: #48BB78;
}

#switch {
    background-color: #e3d407;
}

#assign, #switch {
    border-radius: 3px;
    border: none;
    padding: 7px 10px;
    font-weight: bold;
    cursor: pointer;
}

.section {
    display: grid;
    grid-template-rows: auto auto;
    border: 1px solid grey;
    border-radius: 3px;
    margin-top: 15px;
    background-color: white;
    padding: 30px;
    margin-right: 15px;
}

.section h4 {
    margin-bottom: 0;
    margin-top: 5px;
}

.section hr {
    border: 1px dotted grey;
    width: 1090px;
}

.date {
    margin-top: 0;
}

#text {
    margin: 20px 15px 10px 15px;
    padding: 10px;
}

#add-note {
    border-radius: 4px;
    background-color: #0443cc;
    width: 70px;
    border: none;
    font-weight: bold;
    color: white;
}

/* menu CSS */
ul{
    list-style: none;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.menu {
    grid-column: 1;
    margin-right: 25px;
    margin-top: 20px;
}

hr {
    width: 90%;
    margin-left: 0;
}

/* home page CSS */
.dash-heading {
    height: 30px;
    width: 150px;
    display: inline-block;
    margin-bottom: 0;
    margin-right: 850px;
    margin-top: 0;
}

#add-contact {
    grid-column: 2;
    display: inline-block;
    background-color: #0443cc;
    border: none;
    border-radius: 3px;
    padding: 8px 10px;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

main {
    background-color: lightgrey;
    padding-left: 40px;
}

.dash-div {
    display: inline-flex;
    align-items: center;
    height: 50px;
    margin-top: 20px;
}

/* div to display results on dashboard */
.users { 
    grid-column: 2;
    border: 1px solid black;
    height: 500px;
    width: 95%;
    background-color: bisque;
}

footer {
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 60px;
}

footer p {
    text-align: center;
}

/* login page CSS */
#login {
    background-color: #0443cc;
    color: white;
    font-weight: bold;
    border: 1px solid #0443cc;
    cursor: pointer;
    width: 416px;
}

input, button {
    border-radius: 4px;
    padding: 7px;
}

input {
    display: block;
    margin-bottom: 10px;
    width: 400px;
    border: 1px solid grey;
}

.access {
    display: grid;
    margin: auto;
    width: 50%;
    padding: 10%;
    text-align: center;
    justify-content: center;
}


